<div class="login-container">
    <div class="login-form"> <form #loginForm="ngForm" (ngSubmit)="login()">
      <p style="font-size: 32px;">Log in</p>
        
        <br/>

          <div class="form-group">
             <mat-form-field class="form-field" appearance="outline">
            <mat-label>User Name:
            </mat-label>
            <input   matInput  id="username" name="username" [(ngModel)]="loginuser.username"  >
        </mat-form-field></div>

        <br/>


          <!--
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="loginuser.password" 
          class="form-control" placeholder="Password" required>
        -->

        <div  class="form-group"  >
          <mat-form-field    class="form-field" appearance="outline">
              <mat-label>Password:
              </mat-label>
              <input matInput type="password"  id="password" name="password" [(ngModel)]="loginuser.password"  >
          </mat-form-field>
      </div>

        <br/>

        <!--
        <button  class="btn btn-lg btn-primary" type="submit" [disabled]="!loginForm.valid">Log in</button>
-->

  <div class="form-group commands">        
  <button  style="width: 150px;"  mat-raised-button color="primary" type="submit" 
  class="btn btn-success">
     OK
  </button>

  </div>
    </form></div>
   
  </div>