<<<<<<< HEAD
button:hover {
    transform: scale(1.1);
  }
  .demo-paginator{
    font-size: 20px;
    color: #848181;
    
  }
  table th,
  table td {
    font-size: 20px;
  }
=======
 
>>>>>>> 447c91fb132f1fb4bb4fca227e83230fd4a92117
