<table class="header-table">
    <tr>
        <td>Batch NO :  {{_batch.batchNO}}</td>
        <td>Batch Size: {{_batch.batchSize}}</td>
        <td>Start Date: {{_batch.startDate|date:"dd/MM/yyyy HH:mm:ss"}}</td>
        <td>End Date: {{_batch.endDate|date:"dd/MM/yyyy HH:mm:ss"}}</td>
    </tr>

    <tr>
        <td>Tube Weight :  {{_batch.tubeWeight}}</td>
        <td>Tubes Count: {{_batch.tubesCount}}</td>
        <td>NDCNO: {{_batch.ndcno}}</td>
        <td>MFNO : {{_batch.mfno}}</td>
    </tr>

    <tr>
        <td>Barcode :  {{_batch.barcode}}</td>
        <td>Product: {{_batch.productName}}</td>
        <td>Expiration Date : {{_batch.expDate|date:"dd/MM/yyyy"}}</td>
        <td>MFG Date: {{_batch.mFgDate|date:"dd/MM/yyyy"}}</td>
    </tr>
    
</table>
