img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;height: 150px;
  }

  .row {
    display: flex;
  }
  
  .column1 {
    flex: 50%;
  }
  .column2 {
   
    flex: 50%;
  }

  