<div class="container">
    <div class="form-group">
            <form [formGroup]="form">
                <div class="form-group">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Product Name:
                    </mat-label>
                    <input   matInput formControlName="productName" required>
                </mat-form-field>
            </div>
            </form>
    </div>
    <div class="form-group">
       
         <form #Ingredientform="ngForm" (ngSubmit)="addProductIngredient()">
          <div class="row">

            <div class="column"> <mat-form-field>



              <input type="text"
              placeholder="ingredient..."
              aria-label="Number"
              matInput
               [formControl]="ingredientAutoCompletecontrol"
              [matAutocomplete]="IngAuto">
               <mat-autocomplete #IngAuto="matAutocomplete" [displayWith]="getOptionText"
               (optionSelected)="getIngredientFromSelection($event.option.value)"
               >
              <mat-option *ngFor="let item of filteredingredients |async" 
                 [value]="item">
                {{item.ingredientName}}
              </mat-option>
            </mat-autocomplete > 


          </mat-form-field></div>
           
            <div class="column"> <mat-form-field>
              <input matInput name="percentage" 
              [(ngModel)]="selectedProductIngredientItem.percentage" 
               placeholder="percentage">
          </mat-form-field>
        </div>

        <div class="column">
          <button style="margin: 10px;font-size: 20px; background-color: #D7EB58; width: 200px ;"  mat-raised-button color="primary"  type="submit"
          class="btn btn-success" >
             Add
          </button>
        </div>

          </div>

         </form>
        
    </div>

    <div class="ng-container">
        <table mat-table [dataSource]="MatdataSource"
        class="table-striped mat-elevation-z8"
        >


        <ng-container matColumnDef="ingredientId">
          <th mat-header-cell *matHeaderCellDef  style="background-color:#7DCDF2 ;  color: #636060; font-size: 20px;">ingredient Id</th>
          <td mat-cell *matCellDef="let item">{{item.ingredientId}}</td>
       </ng-container>


        <ng-container matColumnDef="ingredientTitle">
            <th mat-header-cell *matHeaderCellDef  style="background-color:#7DCDF2 ;  color: #636060; font-size: 20px;">ingredient Title</th>
            <td mat-cell *matCellDef="let item">{{item.ingredientTitle}}</td>
         </ng-container>
        
         <ng-container matColumnDef="percentage">
            <th mat-header-cell *matHeaderCellDef  style="background-color:#7DCDF2 ;  color: #636060; font-size: 20px;">percentage</th>
            <td mat-cell *matCellDef="let item">{{item.percentage}}</td>
         </ng-container>
         
         <ng-container matColumnDef="actions">
           <th mat-header-cell *matHeaderCellDef  style="background-color:#7DCDF2 ;  color: #636060; font-size: 20px;">Actions</th>
           <td  mat-cell *matCellDef="let item">
           <a  mat-raised-button 
            (click)="deleteProductingredient(item.ingredientId)"
             >delete</a>   
           </td>
        </ng-container>

         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       
      </table>
     </div>

 

    


     
     <button style="margin: 5px;" mat-raised-button color="primary"  type="button"
            class="btn btn-success" (click)="onSubmit()">
            Save
            </button>
            <button type="button"  style="margin: 5px;" mat-raised-button color="primary"  
            class="btn btn-success" (click)="onnew()">
            New
     </button>
</div>
