.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    display: flex;
    height: 90%;
    margin: 0;
}  
.app-sidenav {
    width: 230px;
}
.router-outlet-content {
    
    margin: 15px;
    flex: 1;
    height: 100%;
    width: 100%; 
} 
.mat-sidenav-content
{

    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; 
}
 

 