<div class="container">
    <form #loginForm="ngForm" (ngSubmit)="changePassword()">
        <h2 >Change Password for User : {{user.userName}}</h2>
          
      
 
          <div  class="form-group"  >
            <mat-form-field    class="form-field" appearance="outline">
                <mat-label>Current Password:
                </mat-label>
                <input matInput type="password"  id="currentPassword" name="currentPassword" [(ngModel)]="changePasswordModel.currentPassword"  >
            </mat-form-field>
        </div>

        <div  class="form-group"  >
            <mat-form-field    class="form-field" appearance="outline">
                <mat-label>New Password:
                </mat-label>
                <input matInput type="password"  id="newPassword" name="newPassword" [(ngModel)]="changePasswordModel.newPassword"  >
            </mat-form-field>
        </div>

  
          <br/>
  
          <!--
          <button  class="btn btn-lg btn-primary" type="submit" [disabled]="!loginForm.valid">Log in</button>
  -->
  
    <div class="form-group commands">        
    <button style="margin: 5px;" mat-raised-button color="primary" type="submit" 
    class="btn btn-success">
       OK
    </button>
  
    </div>
      </form>
</div>
