<div class="container" style="margin-top: 2%;">
    <form #loginForm="ngForm" (ngSubmit)="changePassword()">
        <h2 style="display: flex; justify-content: center; align-items: center; flex-direction: column;font-weight: bold;color: #636060; font-size: 40px;" >Change Password for User : {{user.userName}}</h2>
          
      
 
          <div  class="form-group"  >
            <mat-form-field    class="form-field" appearance="outline">
                <mat-label style="font-size: 20px;">Current Password:
                </mat-label>
                <input matInput type="password"  id="currentPassword" name="currentPassword" [(ngModel)]="changePasswordModel.currentPassword"  >
            </mat-form-field>
        </div>

        <div  class="form-group"  >
            <mat-form-field    class="form-field" appearance="outline">
                <mat-label style="font-size: 20px;" >New Password:
                </mat-label>
                <input matInput type="password"  id="newPassword" name="newPassword" [(ngModel)]="changePasswordModel.newPassword"  >
            </mat-form-field>
        </div>

  
          <br/>
  
          <!--
          <button  class="btn btn-lg btn-primary" type="submit" [disabled]="!loginForm.valid">Log in</button>
  -->
  
    <div class="form-group commands" style="display: flex; justify-content: center;">        
    <button style="margin: 10px;font-size: 20px; background-color: #D7EB58; width: 200px ;"  mat-raised-button color="primary" type="submit" 
    class="btn btn-success">
       OK
    </button>
  
    </div>
      </form>
</div>
