 <div class="header">
    <h2 mat-dialog-title>{{data.title}}</h2>
    <button mat-icon-button [mat-dialog-close]="false">

        <mat-icon>close</mat-icon>
    </button>
 </div>
 <div mat-dialog-content>
  {{data.message}}
 </div>
 <div mat-dialog-actions [align]="'end'">
    <button style="margin: 10px;font-size: 20px;" mat-raised-button [mat-dialog-close]="false">NO</button>
    <button mat-raised-button style="margin: 10px;font-size: 20px; background-color: #D7EB58; " [mat-dialog-close]="true">YES</button>
 </div>